<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>JS-SINTAX</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link href="../public/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../public/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../public/assets/css/sintax_style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="nav" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">
                <img src="../public/assets/img/JSSintaxLogoBlackText480.png" class="resize">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Courses</a>
                </li>
                <li>
                    <a href="#">Sign Up</a>
                </li>
                <li>
                    <a href="#">Log In</a>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>

    <!-- SLIDER -->
    <br>
    <div class="slider" style="height: 600px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <ul class="slides" style="height: 600px;">
            <li class="active" style="opacity: 1; transform: translateX(0px) translateY(0px);">
                <img src="../public/assets/img/pig.jpg" alt="" style="background-image: url(../public/assets/img/pig.jpg;);">
                <div class="caption center-align" style="opacity: 1; transform: translateY(0px) translateX(0px);">
                    <h3>Don't commit the deadly sin of false syntax.</h3>
                </div>
            </li>
            <li class="" style="opacity: 0; transform: translateX(0px) translateY(0px);">
                <img src="../public/assets/img/lava.jpg" alt="" style="background-image: url(../public/assets/img/lava.jpg;);">
                <div class="caption left-align" style="opacity: 0; transform: translateX(-100px) translateY(0px);">
                    <h3 class="light grey-text text-lighten-3">The capital sins of JavaScript.</h3>
                    <h5 class="light grey-text text-lighten-3">Envy: Resenting others who progress because you don't know your parameters.</h5>
                    <h5 class="light grey-text text-lighten-3">Lust: Looking at, imagining, and treating others as code mere objects that you only understand in your
                        fantasies. </h5>
                    <h5 class="light grey-text text-lighten-3">Anger: The sudden outburst of emotion — namely hostility — and thoughts about the desire to undersand
                        what is happening.</h5>
                </div>
            </li>
            <li class="" style="opacity: 0; transform: translateX(0px) translateY(0px);">
                <img src="../public/assets/img/step.jpg" alt="" style="background-image: url(../public/assets/img/step.jpg;);">
                <div class="caption right-align" style="opacity: 0; transform: translateX(100px) translateY(0px);">
                    <h3>Take your first step to enlightenment.</h3>
                </div>
            </li>
        </ul>
        <!-- <ul class="indicators">
            <li class="indicator-item active"></li>
            <li class="indicator-item"></li>
            <li class="indicator-item"></li>
        </ul> -->
    </div>
    <br>
    <!--   testimonial Section   -->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="card card-small">
                        <div class="card-image">
                            <img src="../public/assets/img/josh.jpg">
                            <span class="card-title">Josh</span>
                        </div>
                        <div class="card-content">
                            <p>JS Sintax changed my life. Now I know what my friends are talking about.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card card-small">
                        <div class="card-image">
                            <img src="../public/assets/img/jason.jpg">
                            <span class="card-title">Jason</span>
                        </div>
                        <div class="card-content">
                            <p>I dove into JS Sintax and learned so much. I made a splash at work with my new knowledge.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card card-small">
                        <div class="card-image">
                            <img src="../public/assets/img/deon.jpg">
                            <span class="card-title">Deon</span>
                        </div>
                        <div class="card-content">
                            <p>I get callbacks from all the ladies now that I have JS Sintax.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    </div>
    <br>
    <br>
    </div>

    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would
                        help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-copyright">
                <div class="container">
                    Made by Thongvun Nak, Ethan Zander, Martin Perez and Bradley Sevison. &copy 2017
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../public/assets/js/materialize.js"></script>
        <script src="../public/assets/js/init.js"></script>
        <script>
            $('.slider').slider();
        </script>

</body>

</html>