body {
  font-family: "Didact Gothic", sans-serif;
}

.resize {
  height: 64px;
  margin: 10px;
}


nav {
  height: 100px;
  line-height: 100px;
}

/* Modal CSS */
form, .md, .login{
    margin-top: 50px;
}

.border {
    border-style: solid;
}

.modal-footer {
    margin-bottom: 25px;
}
.modal {
  /* width: 75% !important; */
  max-height: 100% !important;
  overflow-y: hidden !important;  
}

.footer2{
  background-color: black;
}
.footer1{
  background-color: #9e1f06;
}