body {
  font-family: "Didact Gothic", sans-serif;
}

.resize {
  height: 64px;
  margin: 10px;
}


.nav {
  height: 100px;
  line-height: 100px;
  background-color: #9e1f06;
}
.card-small {
  width:250px;
 }
 .dark-red {
   background-color: #590001;
 }
 .btn{
  background-color: #9e1f06;
}
/* .btn:visited{
  background-color: #590001;
} */
.btn:hover {
  background-color: #590001;
}
.btn:active{
  background-color: #9e1f06;
}
.footer {
  background-color: #9e1f06;
}



/*  START MODAL CSS */
form, .md, .login{
    margin-top: 50px;
}
.modal-header {
  background-color: #9e1f06;
}
.border {
    border-style: solid;
}
/* label focus color */
.input-field input:focus + label {
  color: #590001 !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #590001 !important;
  box-shadow: 0 1px 0 0 #590001 !important
}
/* .red-btn {
  background-color: #9e1f06;
} */
.modal-footer {
    margin-bottom: 25px;
}
.modal {
  height: 84.5% !important;
  max-height: 100% !important;
  overflow-y: hidden !important;  
}

.footer2{
  background-color: black;
}
.footer1{
  background-color: #9e1f06;
}

/* Course HTML CSS */
.bannerbg {
    background-image: url("../img/coursebg.jpg");
}


/* Lesson HTML CSS */
.lessonbg {
    background-image: url("../img/beg1.jpg");
}

.view {
    background-color: red;
    height: 575px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lessontext {
    margin: 90px;
    /* padding: 30px; */
}

.questionsrow {
    background-color: green;
    height: 200px;
}

label {
    color: black;
}


/* About Us T */
.sizer {
    width: 75%;
    margin: 0 auto;
    
}
